<div id="photo_content" style="background:#DDD;height:430px">
  <div style="position:relative;left:33%;top:20%;font-size:4em;"> There </div>
  <div style="position:relative;left:42%;top:30%;font-size:1.5em;font-weight:bold;font-family:cursive"> must be </div><br>
  <div style="position:relative;left:25%;top:33%;font-size:5em;font-family:serif"> a picture </div><br>
  <div style="position:relative;left:42%;top:41%;font-size:2.7em;font-weight:bold;font-family:fantasy"> book </div>
</div>
